:root{
    --logo-font: Raleway, sans-serif;
    --main-font: Roboto, sans-serif;
    --main-bgc: #fff;
    --main-color-navy-blue:#2E2F42;
    --primary-brand-iris:#4D5AE5;
    --pressed-state-ocean:#404BBF;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-dairy: #fcfcfc;
}

body{
    background-color: var(--main-bgc);
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
/* reset */
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/***** 
STUDiO 
******/

/* logo */
.logo{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-family: var(--logo-font);
    color:var(--primary-brand-iris);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo {
    color: var(--main-color-navy-blue);
}
.footer-logo{
    color: var(--color-cloud);
}

/* header */

.page-nav{
    color: var(--main-color-navy-blue);
}

.menu-link{
    color: var(--main-color-navy-blue);
}
.menu-link:hover,
.menu-link:focus{
    color:var(--pressed-state-ocean);
}
.address{
    font-style: normal;
}
.contact-item{  
    color: var(--color-slate);
    font-weight: 400;
}
.contact-item:hover,
.contact-item:focus{
    color: var(--pressed-state-ocean);
}
/* hero */
.main-title{
    color: var(--main-bgc);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero{
    background: var(--main-color-navy-blue);
}
.btn-hero{
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--main-bgc);
    background:var(--primary-brand-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus{
    background: var(--pressed-state-ocean);
}
/* benefits */
/* what are we doing */
/* our team */
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color-navy-blue);
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-navy-blue);
}
.center-align{
    text-align: center;
}
.text{    
    font-weight: 400;
    color: var(--color-slate);
}
.our-team{
    background: var(--color-cloud);
}
.team-card{
    background: var(--main-bgc);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* footer */
.footer{
    background: var(--main-color-navy-blue);
}
.footer-msg {
    color: var(--color-cloud);
}

/*****
PORTFOLIO
*****/

.filter-btn{
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--primary-brand-iris);
    background: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--main-bgc);
    background: var(--pressed-state-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.prj-crd-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  var(--main-color-navy-blue);
}
.project-card{
    background: var(--main-bgc);
    border: 1px solid var(--color-cornflower);
}

